# OSX
.DS_Store

# IDEs
.idea/

# Node
npm-debug.log
/node_modules

# Cordova
/platforms
/plugins

# res
resources/signing

#keys
src/keys.json

# VSCODE
.vscode

#version buildée
www/*
!www/index.html

#package-lock
package-lock.json

